version: '3.8'

services:
  postgres:
    image: pgvector/pgvector:pg15
    container_name: pg-vector-medicoaqui
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: senha_docker
      POSTGRES_DB: medicoaqui
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d medicoaqui"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  adminer:
    image: adminer
    container_name: adminer-medicoaqui
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

volumes:
  pg_data:
    driver: local
